{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favi/favicon.ico' %}">
    <title>{% block title %}{% trans "My shop" %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="{% static "css/base.css" %}" rel="stylesheet"> -->
  </head>
  <body>


    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #5a93bb;">
      <img src="{% static 'img/favi/afric.png' %}" alt="" style="border-radius: 25%; height: 32px;">
      <a href="/" class="navbar-brand">{% trans "The Afric Group" %}</a>
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <img src="{% static 'img/favi/afric.png' %}" alt="" style="border-radius: 50%; height: 32px;"> -->

      
    
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href=""> <span class="sr-only">(current)</span></a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Change Language
            </a> -->
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul class="dropdown-item">
                {% for language in languages %}
                  <li>
                    <a href="/{{ language.code }}/"
                    {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                      {{ language.name_local }}
                    </a>
                  </li>
                {% endfor %}
              </ul>          
        </ul>
      </div> -->
    </nav>
    <!-- <div id="header">
      <a href="/" class="logo">{% trans "My shop" %}</a>
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      <div class="languages">
        <p>{% trans "Language" %}:</p>
        <ul class="languages">
          {% for language in languages %}
            <li>
              <a href="/{{ language.code }}/"
              {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                {{ language.name_local }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> -->

    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #ececec;">
      <!-- Navbar content -->
      {% for language in languages %}
            
              <a href="/{{ language.code }}/"
              {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                {{ language.name_local }}&nbsp;&nbsp;
              </a>
            
         
          {% endfor %}
          
      <div class="ml-auto">
          <div class="ml-auto">
            {% with total_items=cart|length %}
              {% if total_items > 0 %}
                {% trans "Your cart" %}:
                <a href="{% url "cart:cart_detail" %}">
                  {% blocktrans with total=cart.get_total_price count items=total_items %}
                    {{ items }} item, Tsh{{ total }}/=
                  {% plural %}
                    {{ items }} items, Tsh{{ total }}/=
                  {% endblocktrans %}
                </a>
              {% elif not order %}
                {% trans "Your cart is empty." %}
              {% endif %}
            {% endwith %}
          </div>
      </div>
    </nav>


  

    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>




    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
